<div class="container mt-5">

<!-- Banner Section -->
<div class="banner">
  <div class="text-overlay text-center circle">
    <h1>Unser Angebot</h1>
    <p></p>
  </div>
  <%= image_tag 'donkey.jpeg', alt: 'Banner Image' %>
</div>

  <!-- Offer Section Card -->
  <div class="row">
    <div class="col-lg-12">
      <div class="card shadow p-4">
        <h3 class="card-title">Unser Angebot</h3>
        <p>
          Informieren Sie sich über das vielfältige Angebot der InSL! Wir bieten Sprachtraining und Sprachförderung von der Kita bis ins Erwachsenenalter (auch als Online-Kurse!), Sprachberatung für Eltern und Angebote zur sprachsensiblen Fortbildung für Lehrkräfte und ErzieherInnen:
        </p>

        <ul class="list-unstyled">
          <!-- List of offers with bold and blue styling -->
          <li><span class="text-primary">● Sprachtraining im Kindergarten</span></li>
          <li><span class="text-primary">● Sprachtraining in der Grundschule</span></li>
          <li><span class="text-primary">● Sprachtraining in der Sekundarstufe</span></li>
          <li><span class="text-primary">● Online-Lese- und Schreibtraining</span></li>
          <li><a href="/sprachtraining_4_you"><span class="text-primary">● Erwachsenenkurse (Deutsch4You)</span></a></li>
          <li><span class="text-primary">● Fortbildungen für Lehrkräfte / ErzieherInnen</span></li>
        </ul>
      </div>
    </div>
  </div>
</div>