<div class="container mt-5">

  <!-- Banner Section -->
<div class="banner">
  <div class="text-overlay text-center circle">
    <h1>Offene Stellen</h1>
    <p></p>
  </div>
  <%= image_tag 'zillaz.jpeg', alt: 'Banner Image' %>
</div>
  <!-- First Job Posting -->
  <div class="row mb-5">
    <div class="col-lg-6">
      <div class="card shadow p-4">
        <h4>Sprachfachkraft für Projektleitung</h4>

        <h5>Ihre Aufgaben sind:</h5>
        <ul>
          <li>AnsprechpartnerIn für das InSL-SprachtrainerInnen-Team und die kooperierenden Bildungseinrichtungen</li>
          <li>Einsatzplanung</li>
          <li>Planung der Teamsitzungen</li>
          <li>Budgetkontrolle</li>
          <li>Erstellung von Berichten, Protokollen und anderen relevanten Dokumenten</li>
          <li>Unterstützung der Verwaltung</li>
        </ul>

        <h5>Unsere Anforderungen:</h5>
        <ul>
          <li>Abgeschlossenes Studium oder Ausbildung mit Schwerpunkt im pädagogischen Bereich sowie Erfahrung in sozialen Projekten oder vergleichbarer Ausbildung/Erfahrung. Alternativ eine hohe Affinität gegenüber dem Bildungssektor und Einsatz für soziale Organisationen.</li>
          <li>Gute Deutschkenntnisse und sicherer Umgang mit den MS-Office Programmen</li>
          <li>Organisierte und strukturierte Arbeitsweise</li>
          <li>Interesse an Sprachbildung</li>
          <li>Bereitschaft zur Teilnahme an qualifizierenden Fortbildungen</li>
          <li>Spaß an der Zusammenarbeit mit Menschen und unterschiedlichen Personengruppen</li>
        </ul>

        <h5>Art der Stelle:</h5>
        <ul>
          <li>Teilzeit, Festanstellung</li>
          <li>Arbeitsstunden: 20 pro Woche</li>
          <li>Gehalt: ab 20,00€ pro Stunde</li>
          <li>Arbeitszeiten: Montag bis Freitag</li>
        </ul>
      </div>
    </div>

    <!-- Second Job Posting -->
    <div class="col-lg-6">
      <div class="card shadow p-4">
        <h4>SprachtrainerIn</h4>

        <p>Unser Verein sucht flexible Mitarbeiterinnen und Mitarbeiter im Bereich der Sprachbildung in der Kita und in der Schule.</p>

        <p>Wir bieten Ihnen vorab eine fundierte Qualifizierung zum SprachtrainerIn für die Schule und den Kindergarten. Werden auch Sie zum Sprachexperten und werden Sie Teil unseres motivierten und innovativen Teams.</p>

        <h5>Unsere Anforderungen:</h5>
        <ul>
          <li>Interesse an Sprachbildung</li>
          <li>Affinität zu Kindern und Jugendlichen</li>
          <li>Bereitschaft zur Teilnahme an qualifizierenden Fortbildungen</li>
          <li>sehr gute Kenntnisse über Deutsch als Zweit- oder Fremdsprache</li>
          <li>Organisierte und strukturierte Arbeitsweise</li>
          <li>Spaß an der Zusammenarbeit mit Menschen und unterschiedlichen Personengruppen</li>
        </ul>

        <h5>Art der Stelle:</h5>
        <ul>
          <li>Teilzeit, Werkstudent, freie Mitarbeit</li>
          <li>Arbeitsort: Kita und Schule</li>
          <li>Arbeitsstunden: nach Absprache</li>
          <li>Gehalt: ab 15,00€ pro Stunde</li>
          <li>Arbeitszeiten: Montag bis Freitag</li>
        </ul>
      </div>
    </div>

  </div>

</div> <!-- End of container -->