<div class="container mt-4">

<!-- Banner Section -->
<div class="banner">
  <div class="text-overlay text-center circle">
    <h1>Online</h1>
    <p></p>
  </div>
  <%= image_tag 'bg.jpg', alt: 'Banner Image' %>
</div>

  <div class="row">
    <div class="col-12">
      <div class="card shadow mb-4">
        <div class="card-body">
          <div class="row">
            <div class="col-md-9">
              <h2>Online-Lesetraining</h2>
              <p>
                In unserem Online-Leseförderkurs können Schülerinnen und
                Schüler (Klasse 2-3) in einem Online-Unterricht in Gruppen von bis
                zu 3 Kindern lesen üben. Dabei verwenden wir Methoden, die auch
                für Kinder mit geringen Kenntnissen in der deutschen
                Bildungssprache geeignet sind und die es ihnen ermöglichen, einen
                Lesewortschatz aufzubauen.
              </p>
              <p>2x pro Woche 40 Minuten, Preis: 100 Euro pro Monat</p>
              <p>
                Interesse? <a href="#">Nehmen Sie hier Kontakt mit uns auf!</a>
              </p>
            </div>
            <div class="col-md-3 text-center">
              <img src="/assets/rabia_özisli.jpg" alt="Rabia Özisli" class="img-fluid rounded-circle mb-2" style="max-width: 150px;">
              <p class="mb-0"><strong>RABIA ÖZISLI</strong></p>
              <p>Sprachtrainerin</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-12">
      <div class="card shadow">
        <div class="card-body">
          <h2>Online-Schreibtraining</h2>
          <p>
            In unserem Online-Schreibtraining können Schülerinnen und
            Schüler (Klasse 4-5) in einem Online-Unterricht in Gruppen von bis
            zu sechs SchülerInnen das Verfassen von Texten üben. Dabei
            verwenden wir Methoden, die auch für Kinder mit geringen
            Kenntnissen in der deutschen Bildungssprache geeignet sind und
            die es ihnen ermöglichen, einen Schreibwortschatz und Kenntnisse
            der Textgrammatik aufzubauen.
          </p>
          <p>1x 90 Minuten pro Woche. Preis: 125 Euro</p>
          <p>
            Interesse? <a href="#">Nehmen Sie hier Kontakt mit uns auf!</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>