<div class="container mt-5">
<!-- Banner Section -->
<div class="banner">
  
  <%= image_tag 't.jpeg', alt: 'Banner Image' %>
</div>

  <h2 class="mb-4 text-center">Unser Team</h2>

  <!-- Team Section -->
  <div class="row text-center">
    <!-- Team Member 1 -->
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
      <img src="/assets/jasmin_hansen.jpg" alt="JASMIN HANSEN" class="img-fluid rounded-circle" style="width:150px; height:150px;">
      <h5 class="mt-3">JASMIN HANSEN</h5>
      <p>Vorstand</p>
    </div>

    <!-- Team Member 2 -->
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
      <img src="/assets/thomas_lindner.jpg" alt="THOMAS LINDNER" class="img-fluid rounded-circle" style="width:150px; height:150px;">
      <h5 class="mt-3">THOMAS LINDNER</h5>
      <p>Vorstand</p>
    </div>

    <!-- Team Member 3 -->
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
      <img src="/assets/sermin_sona.jpg" alt="SERMIN SONA" class="img-fluid rounded-circle" style="width:150px; height:150px;">
      <h5 class="mt-3">SERMIN SONA</h5>
      <p>Vorstand</p>
    </div>

    <!-- Team Member 4 -->
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
      <img src="/assets/kristina_edel.jpg" alt="Dr. KRISTINA EDEL" class="img-fluid rounded-circle" style="width:150px; height:150px;">
      <h5 class="mt-3">Dr. KRISTINA EDEL</h5>
      <p>Geschäftsführung</p>
    </div>

    <!-- Team Member 5 -->
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
      <img src="/assets/ruth_huebner_gerling.jpg" alt="RUTH HÜBNER-GERLING" class="img-fluid rounded-circle" style="width:150px; height:150px;">
      <h5 class="mt-3">RUTH HÜBNER-GERLING</h5>
      <p>Revisorin</p>
    </div>

    <!-- Team Member 6 -->
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
      <img src="/assets/felix_gaertner.jpg" alt="FELIX GÄRTNER" class="img-fluid rounded-circle" style="width:150px; height:150px;">
      <h5 class="mt-3">FELIX GÄRTNER</h5>
      <p>Öffentlichkeitsarbeit</p>
    </div>

    <!-- Team Member 7 -->
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
      <img src="/assets/baba_ndiaye.jpg" alt="BABA NDIAYE" class="img-fluid rounded-circle" style="width:150px; height:150px;">
      <h5 class="mt-3">BABA NDIAYE</h5>
      <p>Logistik und Lager</p>
    </div>

    <!-- Team Member 8 -->
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
      <img src="/assets/birte_gifaldi.jpg" alt="BIRTE GIFALDI" class="img-fluid rounded-circle" style="width:150px; height:150px;">
      <h5 class="mt-3">BIRTE GIFALDI</h5>
      <p>Fachberatung Kita</p>
    </div>

    <!-- Team Member 9 -->
<div class="col-lg-3 col-md-4 col-sm-6 mb-4">
  <img src="/assets/aysel_akarsu.jpg" alt="Aysel Akarsu" class="img-fluid rounded-circle" style="width:150px; height:150px;">
  <h5 class="mt-3">Aysel Akarsu</h5>
  <p>Position</p>
</div>

<!-- Team Member 10 -->
<div class="col-lg-3 col-md-4 col-sm-6 mb-4">
  <img src="/assets/bernd_harnischfeger.jpg" alt="Bernd Harnischfeger" class="img-fluid rounded-circle" style="width:150px; height:150px;">
  <h5 class="mt-3">Bernd Harnischfeger</h5>
  <p>Position</p>
</div>

<!-- Team Member 11 -->
<div class="col-lg-3 col-md-4 col-sm-6 mb-4">
  <img src="/assets/beyda.jpg" alt="Beyda" class="img-fluid rounded-circle" style="width:150px; height:150px;">
  <h5 class="mt-3">Beyda</h5>
  <p>Position</p>
</div>

<!-- Team Member 12 -->
<div class="col-lg-3 col-md-4 col-sm-6 mb-4">
  <img src="/assets/christa_molitor.jpg" alt="Christa Molitor" class="img-fluid rounded-circle" style="width:150px; height:150px;">
  <h5 class="mt-3">Christa Molitor</h5>
  <p>Position</p>
</div>

<!-- Team Member 13 -->
<div class="col-lg-3 col-md-4 col-sm-6 mb-4">
  <img src="/assets/claudia_ringel.jpg" alt="Claudia Ringel" class="img-fluid rounded-circle" style="width:150px; height:150px;">
  <h5 class="mt-3">Claudia Ringel</h5>
  <p>Position</p>
</div>

<!-- Team Member 14 -->
<div class="col-lg-3 col-md-4 col-sm-6 mb-4">
  <img src="/assets/evelyn_cheng.jpg" alt="Evelyn Cheng" class="img-fluid rounded-circle" style="width:150px; height:150px;">
  <h5 class="mt-3">Evelyn Cheng</h5>
  <p>Position</p>
</div>

<!-- Team Member 15 -->
<div class="col-lg-3 col-md-4 col-sm-6 mb-4">
  <img src="/assets/hasan_soydan.jpg" alt="Hasan Soydan" class="img-fluid rounded-circle" style="width:150px; height:150px;">
  <h5 class="mt-3">Hasan Soydan</h5>
  <p>Position</p>
</div>

<!-- Team Member 16 -->
<div class="col-lg-3 col-md-4 col-sm-6 mb-4">
  <img src="/assets/hivan_derashi.jpg" alt="Hivan Derashi" class="img-fluid rounded-circle" style="width:150px; height:150px;">
  <h5 class="mt-3">Hivan Derashi</h5>
  <p>Position</p>
</div>

<!-- Team Member 17 -->
<div class="col-lg-3 col-md-4 col-sm-6 mb-4">
  <img src="/assets/husein_halilovic.jpg" alt="Husein Halilovic" class="img-fluid rounded-circle" style="width:150px; height:150px;">
  <h5 class="mt-3">Husein Halilovic</h5>
  <p>Position</p>
</div>

<!-- Team Member 18 -->
<div class="col-lg-3 col-md-4 col-sm-6 mb-4">
  <img src="/assets/julia_hofmann.jpg" alt="Julia Hofmann" class="img-fluid rounded-circle" style="width:150px; height:150px;">
  <h5 class="mt-3">Julia Hofmann</h5>
  <p>Position</p>
</div>

<!-- Team Member 19 -->
<div class="col-lg-3 col-md-4 col-sm-6 mb-4">
  <img src="/assets/julia_lindner.jpg" alt="Julia Lindner" class="img-fluid rounded-circle" style="width:150px; height:150px;">
  <h5 class="mt-3">Julia Lindner</h5>
  <p>Position</p>
</div>

<!-- Team Member 20 -->
<div class="col-lg-3 col-md-4 col-sm-6 mb-4">
  <img src="/assets/julia_weber.jpg" alt="Julia Weber" class="img-fluid rounded-circle" style="width:150px; height:150px;">
  <h5 class="mt-3">Julia Weber</h5>
  <p>Position</p>
</div>

<!-- Team Member 21 -->
<div class="col-lg-3 col-md-4 col-sm-6 mb-4">
  <img src="/assets/karmela_kalauzovic.jpg" alt="Karmela Kalauzovic" class="img-fluid rounded-circle" style="width:150px; height:150px;">
  <h5 class="mt-3">Karmela Kalauzovic</h5>
  <p>Position</p>
</div>

<!-- Team Member 22 -->
<div class="col-lg-3 col-md-4 col-sm-6 mb-4">
  <img src="/assets/lucia_kliem.jpg" alt="Lucia Kliem" class="img-fluid rounded-circle" style="width:150px; height:150px;">
  <h5 class="mt-3">Lucia Kliem</h5>
  <p>Position</p>
</div>

<!-- Team Member 23 -->
<div class="col-lg-3 col-md-4 col-sm-6 mb-4">
  <img src="/assets/rabia_özisli.jpg" alt="Rabia Özisli" class="img-fluid rounded-circle" style="width:150px; height:150px;">
  <h5 class="mt-3">Rabia Özisli</h5>
  <p>Position</p>
</div>

<!-- Team Member 24 -->
<div class="col-lg-3 col-md-4 col-sm-6 mb-4">
  <img src="/assets/sümeyye_balci.jpg" alt="Sümeyye Balci" class="img-fluid rounded-circle" style="width:150px; height:150px;">
  <h5 class="mt-3">Sümeyye Balci</h5>
  <p>Position</p>
</div>

<!-- Team Member 25 -->
<div class="col-lg-3 col-md-4 col-sm-6 mb-4">
  <img src="/assets/silke_pekbas.jpg" alt="Silke Pekbas" class="img-fluid rounded-circle" style="width:150px; height:150px;">
  <h5 class="mt-3">Silke Pekbas</h5>
  <p>Position</p>
</div>

<!-- Team Member 26 -->
<div class="col-lg-3 col-md-4 col-sm-6 mb-4">
  <img src="/assets/victoria_greening.png" alt="Victoria Greening" class="img-fluid rounded-circle" style="width:150px; height:150px;">
  <h5 class="mt-3">Victoria Greening</h5>
  <p>Position</p>
</div>

  </div>

  <!-- Notes Section -->
  <div class="row mt-5">
    <div class="col-lg-12 text-left">
      <small>
        <ul>
        <em>Anmerkungen:</em>
        <li><em>Aus Platzgründen ist die Schriftart bei Name/Position 1P kleiner als auf allen anderen Seiten.</em></li>
        <li><em>Die Mitarbeiter-Liste muss aktualisiert werden.</em></li>        
        </ul>
      </small>
    </div>
  </div>

</div> 