<div class="container mt-5">
<!-- Banner Section -->
<div class="banner">
  <div class="text-overlay text-center circle">
    <h1>Unsere Vision</h1>
    <p></p>
  </div>
  <%= image_tag 'bg.jpg', alt: 'Banner Image' %>
</div>

  <!-- Mission & Vision Section -->
  <div class="card shadow">
  <div class="row mb-5">
    <div class="col-lg-8">
      <div class="card shadow p-4">
        <h3>Unsere Mission & Vision:</h3>
        <p>
          „Um im deutschen Schulsystem Erfolg zu haben, ist die sichere Beherrschung der entscheidende Schlüssel. Das gilt für zugewanderte Kinder genauso wie für solche aus bildungsfernen Haushalten. Die InSL hat es sich deshalb zum Ziel gesetzt, jedem Kind schulischen Erfolg und gesellschaftliche Teilhabe zu ermöglichen. Denn Bildungs­gerechtigkeit ist die Basis einer friedlichen und freiheitlichen Gesellschaft. Sprache darf kein Diskriminierungsgrund sein.“
        </p>
        <p>
          „InSL vermittelt die Merkmale, die schulisch relevant für die Bildungssprache sind und macht sie dadurch allen Kindern zugänglich. Sprachförderung verstehen wir als Sprachbildung, die individuell entlang der gesamten Bildungsbiographie der Schülerinnen und Schüler angeboten wird.“
        </p>
      </div>
    </div>

    <!-- Right Column: Dr. Kristina Edel Image and Title -->
    <div class="col-lg-4 d-flex justify-content-center align-items-center">
      <div class="text-center">
        <img src="/assets/kristina_edel.jpg" alt="Dr. KRISTINA EDEL" class="img-fluid rounded-circle mb-3" style="width:150px; height:150px;">
        <h5>Dr. KRISTINA EDEL</h5>
        <p>Geschäftsführung</p>
      </div>
    </div>
  </div>
  </div>
  <br>
  <!-- 'InSL wirkt!' Section -->
  <div class="card shadow">
  <div class="row mb-5">
    <!-- Left Column: Sermin Sona Image and Title -->
    <div class="col-lg-4 d-flex justify-content-center align-items-center">
      <div class="text-center">
        <img src="/assets/sermin_sona.jpg" alt="Sermin Sona" class="img-fluid rounded-circle mb-3" style="width:150px; height:150px;">
        <h5>SERMIN SONA</h5>
        <p>Vorstand</p>
      </div>
    </div>

    <!-- Right Column: Text and Link to Reports -->
    <div class="col-lg-8">
      <div class="card shadow p-4">
        <h3>InSL wirkt!</h3>
        <p>
          „Wir möchten die Ergebnisse unserer Arbeit gerne transparent machen. Deswegen haben wir ein einheitliches Konzept zur qualitativen Wirkungsmessung ausgearbeitet und veröffentlichen die Ergebnisse regelmäßig in unseren Wirkungsberichten.“
        </p>
        <a href="#" class="text-primary"><strong>● Zu unseren Wirkungsberichten >></strong></a>
      </div>
    </div>
   
  </div> 
  </div>
  <br>
</div> <!-- Container end -->