<div class="container mt-5">

  <!-- Banner Section -->
  <div class="banner">
    
    <%= image_tag 'c.webp', alt: 'Banner Image' %>
  </div>

  <!-- Offer Section Card -->
  <div class="row">
    <div class="col-lg-12">
      <div class="card shadow p-4">
        <h3 class="card-title">Der aktuelle InSL-Wirkungsbericht:</h3>
        <p>
          „Wir möchten die Ergebnisse unserer Arbeit gerne transparent machen. Deswegen haben wir ein einheitliches Konzept zur qualitativen Wirkungsmessung ausgearbeitet und veröffentlichen die Ergebnisse regelmäßig in unseren Wirkungsberichten.“
        </p>

        <div class="row">
          <div class="col-lg-8">
            <!-- Main content on the left side -->
            <ul class="list-unstyled">
              <!-- List of offers with bold and blue styling -->
              <li><span class="text-primary">● Wirkungsbericht 2023</span></li>
            </ul>

            <p>Frühere InSL-Wirkungsberichte:</p>
            <ul class="list-unstyled">
              <!-- List of offers with bold and blue styling -->
              <li><span class="text-primary">● Wirkungsbericht 2021 /22</span></li>
              <li><span class="text-primary">● Wirkungsbericht 2020</span></li>
            </ul>
          </div>

          <!-- Right Column: Managing Director Image -->
          <div class="col-lg-4 text-right">
            <img src="/assets/kristina_edel.jpg" alt="Dr. Kristina Edel" class="img-fluid rounded-circle" style="width:150px; height:150px;">
            <p class="mt-3 text-center"><strong>Dr. KRISTINA EDEL</strong><br>Geschäftsführung</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
